{
  "parser": "babel-eslint",
  "env": {
    # "browser": true,
    "node": true,
    # "mocha": true
  },
  "extends": "airbnb",
  "plugins": [
      # "react",
      # "jsx-a11y",
      "import"
  ]  
}
